.character-sheet {
  background-color: #445475;
  height: 250px;
  width: 600px;
  border-radius: 20px;
  margin: 100px auto;
  justify-content: center;
}

.title-row{
  justify-content: center;
  padding-top: 20px;
  .title {
    color: white;
  }    
}